.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.menuButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;

  color: var(--text-over-primary);

  padding: 1.2rem;
  border-radius: 0.8rem;
  background-color: var(--primary);

  transition: all 0.1s ease-in-out;
}

.menuButton:hover {
  filter: brightness(80%);
}

.menuButton svg {
  width: 2.4rem;
  height: 2.4rem;
}
