.input {
  padding: 0.8rem;

  font-size: 1.6rem;
  text-align: center;
  color: var(--text-over-primary-dark);

  border: none;
  border-bottom: 0.2rem solid var(--primary);

  outline: none;

  background-color: transparent;

  transition: all 0.1s ease-in-out;
}

.input:focus {
  outline: none;
  border: 0.2rem solid var(--primary);
  border-radius: 0.8rem;
}

.input::placeholder {
  font-size: 1.4rem;
  font-style: italic;
  color: var(--gray-500);
}

.input:disabled {
  border-bottom: 0.2rem solid var(--disabled);
  color: var(--text-disabled);
}
